
<div class="google-mapCard">
  <div class="google-map  d-flex flex-column  mb-2 text collaspe position-relative border-0">
    <a type="a" data-bs-toggle="modal" data-bs-target="#map-modal">
      <img src="https://cdn.kkday.com/pc-web/assets/img/img_map.jpg" class="map">
      <img src="https://cdn.kkday.com/pc-web/assets/img/map_marker.svg"
        class="google-local-mark position-absolute  top-50 start-50 translate-middle ">
      <div class="map-card-p position-absolute bg-light bg-opacity-75 w-100 pt-2 pb-2 ">
        <p class="text-center mb-0">檢視地圖</p>
      </div>
    </a>
  </div>
</div>