
<a class="card d-lg-flex  flex-row rounded google-map-product-item w-100">
    <img src="https://picsum.photos/300/200/?random=11" class="rounded-start col-5">
    <div class="card-body col-7 p-0 m-2 position-relative">
      <h5 class="card-title   map-h5 m-0">【2022澎湖花火節】台灣澎湖租機車 | 騎車輕鬆環島遊澎湖</h5>
      <div class="star-list display-inline">
        <i class="fa-solid fa-star map-star"></i>
        <i class="fa-solid fa-star map-star"></i>
        <i class="fa-solid fa-star map-star"></i>
        <i class="fa-solid fa-star map-star"></i>
        <i class="fa-solid fa-star map-star"></i>
      </div>
      <p class="star text-info  m-0"><i class="fa-solid fa-star"></i> <span class="star-amount">4.75</span></p>
      <p class="card-text map-price m-0">TWD 358</p>
      <button type="button"
        class="btn btn-outline-info position-absolute google-map-card-button">立即訂購
      </button>
    </div>
</a> 