@{
}

<div class="col-lg-9  p-3">
    <div class="container_card">
        <div class="card_detail mb-3">
            <div class="row g-0">
                <div class="col-md-4 ">
                    <div class="pic h-100">
                        <img class="img-fluid w-100 h-100 m-auto"
                            src="https://image.kkday.com/v2/image/get/w_481%2Ch_358%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116824/20220531103141_oq8QW/jpg">
                        <i class="fa-solid fa-heart btn-wish p-3 me-2"></i>
                        <!-- <i class="fa-solid fa-heart-crack"></i> -->
                    </div>
                </div>
                <div class="col-md-8 rounded-3 ">
                    <div class="card-body">
                        <h2 class="card-title">桃園青埔 | Xpark 都會型水生公園門票</h2>
                        <div class="card-point py-2 ">

                            <span class="label label-addational rounded-3 ">即買即用</span>
                            <span class="label label-addational rounded-3 ">6天前可免費取消</span>

                            <span class="label label-addational rounded-3 ">出發前可免費取消</span>
                            @*<span class="label label-addational rounded-3 ">適用國旅券</span>
                            <span class="label label-addational rounded-3 ">8天前可免費取消</span>
                            <span class="label label-addational rounded-3 ">2天前可免費取消</span>
                            <span class="label label-addational rounded-3 ">3天前可免費取消</span>
                            <span class="label label-addational rounded-3 ">即買即用</span>*@
                        </div>
                        <p class="card-text-info py-2 mx-1 lh-base overflow-hidden ">Xpark 於 2022
                            年初推行大型企劃『Xbook～流向我們的物語』，透過五官享受海底之書的魅力！加碼推出兒童節限定「Xpark童樂套票」及互動式猜謎遊戲，讓大小朋友在春天開心暢遊，體驗豐富的寓教於樂內容！
                        </p>
                        <div class="prodduct-listview_inco_info d-flex flex-wrap my-2 me-2">
                            <i class="fa-solid fa-location-dot"></i>
                            <div class="prodduct-listview_inco_info flex_item product-palce">
                                <p class="card-text d-flex ms-2">台灣 桃園</small>
                                </p>
                            </div>
                            <i class="fa-regular fa-calendar  ms-3"></i>
                            <div class="prodduct-listview_inco_info  product-time">
                                <p class="card-text ms-2">最早可預訂日期 : 今日</small>
                                </p>
                            </div>
                        </div>
                        <div class="footer  d-flex flex-wrap">
                            <div class="product_footer m-auto col-8 mt-3">
                                <i class="fa-solid fa-star "></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>

                                <span class="number">(366691)</span>
                                <!-- <span class="span_divider mx-1 "> | </span> -->
                                <!-- <div class="vr mx-1"></div> -->
                                <i class="fa-solid fa-fire py-2">
                                    <span class="subscription">484K+ 個已訂購</span></i>
                            </div>
                            <div class="doller d-flex flex-wrap justify-content-end col-4 ps-2">
                                <p class="TWD-line text-decoration-line-through p-1 ">TWD 850</p>
                                <div class="discount me-1 p-1">73%OFF</div>
                                <h4 class="TWD d-flex justify-content-end p-1 mt-1">TWD 550</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>