@*@if(Model.Profile.PersonalPhoto == null)
{*@


<div class="picture-container mb-5">
    <form method="post" action="/Cloudinary/imgtry" enctype="multipart/form-data">
        <div class="picture">
            <img src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
                class="picture-src" id="wizardPicturePreview" title="">
            <input type="file" id="wizard-picture" name="File" >
            <button type="submit" class="btn btn-outline-dark" id="btn-upload"  @*disabled="disabled"*@>點擊上傳</button>

        </div>
    </form>

</div>
