
    <a href="#" class="back-to-top"><i class="fa-solid fa-angle-up"></i></a>
    <div class="tour-div w-100 ">
        <img src="https://image.kkday.com/v2/image/get/s1.kkday.com/campaign_2009/20211230043807_k0er2/jpg" alt="">
    </div>
    <div class="Notice-div">
        <img class="" src="https://image.kkday.com/v2/image/get/s1.kkday.com/campaign_1835/20211208032953_z8fV3/jpg"
            alt="">
        <img class="" src="https://image.kkday.com/v2/image/get/s1.kkday.com/campaign_1835/20211208032953_63V9n/jpg"
            alt="">
        <div class="m-auto container">
            <div class="row">
                <h2>
                    台灣防疫旅館預訂須知：
                </h2>
                <div class="col-1 point-div">
                    <div class="point">
                    </div>
                </div>
                <p class="col-11">
                    所有入境台灣民眾於2022 年 5 月 9 日起皆須進行 7 天 8 晚的居家檢疫，並自第 8 天起接續自主健康管理 7
                    天。居家檢疫以返家「一人一戶」為原則、防疫旅館為輔，需要提供檢疫地址或是防疫旅館訂房確認書。同日入境之家屬/同住者檢疫期間可於自宅或親友住所同住，或於防疫旅宿依民眾意願並配合房型同住 1
                    室，建議以不超過 2 人同住為原則。
                </p>
            </div>
        </div>
        <hr>
        <div id="navbar-example3" class="container m-auto navbar navbar-light justify-content-center">
            <a class="nav-link px-lg-5 text-white " href="#Featured-month-div">找<i class="fa-solid fa-magnifying-glass"></i>地區</a>
            <a class="nav-link px-lg-5 text-white" href="#Featured-TW-div">找<i class="fa-solid fa-magnifying-glass"></i>價位</a>
            <a class="nav-link px-lg-5 text-white" href="#Featured-amount-div">沒事找<i class="fa-solid fa-magnifying-glass"></i>手做
            </a>
        </div>
    </div>
    <div id="Featured-month-div" class="Featured Featured-month-div p-0 m-0" data-bs-spy="scroll"
        data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <div class="container">
            <div class="row p-0 m-0">
                <h2>
                    <img src="https://image.kkday.com/v2/image/get/s1.kkday.com/campaign_1835/20211105103449_XNPWj/jpg"
                        alt="">
                </h2>
            </div>
            <div class="row p-0 stay-div">
                <a class="btn btn-stay">
                    <h3 class="m-0">
                        防疫住宿旅館
                    </h3>
                </a>
            </div>
            <div class=" row p-0 m-0">
                <div class="crad-div p-0 m-0 d-flex justify-content-between ">
                    <a class="text-decoration-none  col-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class="text-decoration-none  col-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class="text-decoration-none  col-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class="text-decoration-none  col-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class="text-decoration-none  col-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class="text-decoration-none  col-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class="text-decoration-none  col-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class="text-decoration-none  col-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="Featured-TW-div" class="Featured Featured-TW-div" data-bs-spy="scroll" data-bs-target="#navbar-example2"
        data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <div class="container">
            <h3>
                <div class="row p-0 d-flex justify-content-center card-div">
                    <img src="https://image.kkday.com/v2/image/get/s1.kkday.com/campaign_1835/20210924025959_xxRcw/jpg"
                        alt="">
                </div>
            </h3>
            <div class="row p-0 m-0">
                <div class="Featured-btn TW-btn-div">
                    <a class="btn" href="#" role="button">桃園</a>
                    <a class="btn" href="#" role="button">新竹</a>
                    <a class="btn" href="#" role="button">台北</a>
                    <a class="btn" href="#" role="button">新竹</a>
                    <a class="btn" href="#" role="button">台北</a>
                </div>
            </div>
            <div class=" row p-0 m-0">
                <div class="crad-div p-0 m-0 d-flex flex-wrap justify-content-start">
                    <a class=" col-12 col-md-12 col-lg-3 col-xl-3 mx-0">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class=" col-12 col-md-12 col-lg-3 col-xl-3 mx-0">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class=" col-12 col-md-12 col-lg-3 col-xl-3 mx-0">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class=" col-12 col-md-12 col-lg-3 col-xl-3 mx-0">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class=" col-12 col-md-12 col-lg-3 col-xl-3 mx-0">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class=" col-12 col-md-12 col-lg-3 col-xl-3 mx-0">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class=" col-12 col-md-12 col-lg-3 col-xl-3 mx-0">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </a>
                    <a class=" col-12 col-md-12 col-lg-3 col-xl-3 mx-0">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="Featured-amount-div" class="Featured Featured-amount-div" data-bs-spy="scroll"
        data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <div class="container">
            <h3>
                <div class="row p-0">
                    <img src="https://image.kkday.com/v2/image/get/s1.kkday.com/campaign_1835/20210924025550_b77r7/jpg"
                        alt="">
                </div>
            </h3>
            <div class="row p-0">
                <div class="Featured-btn amount-btn-div">
                    <a class="btn" href="#" role="button">3000元以下</a>
                    <a class="btn" href="#" role="button">4000元以下</a>
                    <a class="btn" href="#" role="button">5000元以下</a>
                    <a class="btn" href="#" role="button">7000元以下</a>
                </div>
            </div>
            <div class=" row ">
                <div class="crad-div p-0 m-0 d-flex flex-wrap justify-content-start">
                    <div class="p-2 col-12 col-md-12 col-lg-3 col-xl-3 mx-0">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 col-12 col-md-12 col-lg-3 col-xl-3 mx-0">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 col-12 col-md-12 col-lg-3 col-xl-3 mx-0">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 col-12 col-md-12 col-lg-3 col-xl-3 mx-0">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 col-12 col-md-12 col-lg-3 col-xl-3 mx-0">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 col-12 col-md-12 col-lg-3 col-xl-3 mx-0">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 col-12 col-md-12 col-lg-3 col-xl-3 mx-0">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 col-12 col-md-12 col-lg-3 col-xl-3 mx-0">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 col-12 col-md-12 col-lg-3 col-xl-3 mx-0">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 col-12 col-md-12 col-lg-3 col-xl-3 mx-0">
                        <div class="card w-100">
                            <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-text">新北防疫旅館｜瓏山林台北中和飯店｜一泊三食｜8 晚居家檢疫專案</h4>
                                <span><i class="fa-solid fa-star"></i>
                                    4.8 | (700) 300+ 個已訂購
                                </span>
                                <span class="map">
                                    <i class="fa-solid fa-location-dot"></i>
                                    台灣
                                    新竹市
                                </span>
                                <p>
                                    EUR <span class="money">762.64</span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row pt-5">
                <img src="https://image.kkday.com/v2/image/get/s1.kkday.com/campaign_1835/20220125071734_jvtYN/jpg"
                    alt="">
            </div>
        </div>
    </div>
    <div class="Precautions-div">
        <div class="container">
            <h2>
                還在煩惱要怎麼找？來看看防疫旅館懶人包
            </h2>
            <p>
                邊境新制、防疫旅館詳細資訊報給你知！讓你安心度過這14天！
            </p>
            <div class="row m-auto ">
                <div class="card  w-100 col-12 col-md-12 col-lg-3 col-xl-3">
                    <img src="https://image.kkday.com/image/get/w_481%2Ch_280%2Cc_fill%2Cq_55%2Ct_webp/s1.kkday.com/product_116183/20210708055941_TCBYY/jpg"
                        class="card-img-top" alt="...">
                    <p class="card-text text-white">
                        防疫旅館推薦｜新制上路！入住防疫旅館流程？精選6都＋新竹防疫旅館：星級、設備、服務總整理
                    </p>
                </div>
            </div>
            <div class="row Precautions">
                <h3>
                    注意事項
                </h3>
                <ul>
                    <li>
                        【Readmoo 讀墨電子書平板租借 95折 折扣碼】即日起至2022/06/30，單筆滿 TWD
                        1800，即享95折優惠！一名會員限使用一次不可重複使用，如訂單成立後因額滿、售罄或個人因素取消訂單，恕無法再次使用折扣碼，敬請見諒。
                    </li>
                    <li>
                        折扣碼不得要求兌換等值現金或其他對價商品，亦不得與其他優惠同時使用。
                    </li>
                    <li>
                        產品價格可能因即時匯率與季節而變動，請以實際訂購時的結帳金額為準。
                    </li>
                    <li>
                        KKday得保留修改、變更本活動內容或提前終止本活動之權利，KKday對本活動所有事宜有最終解釋及決定權利。
                    </li>
                    <li>
                        行程類商品KKday將於收到您的訂單後，於指定工作日回覆您訂購結果，如因額滿或是不可抗力之因素導致無法成行，將會由客服人員與您通知。
                    </li>
                    <li>完成下訂流程不一定代表訂購成功，KKday將於收到您的訂單後，於數個工作日回覆您是否訂購成功，如因滿房或是不可抗力之因素導致無法成行，將會由客服人員與您通知。
                    </li>
                    <li>
                        消費者對於提供內容有任何爭議，請逕洽KKday尋求協助，歡迎來信至 service@kkday.com
                    </li>
                </ul>
            </div>
        </div>
    </div>
      @section topCSS{
      <link rel="stylesheet" href="~/css/reset.css" />
      <link rel="stylesheet" href="~/css/PH.css" />
  }