body {
    font-family: 'Noto Sans TC', '微软雅黑', sans-serif;
    background-color: #f5f5f5;
    font-weight: 500;
    scroll-behavior: smooth;
}

.container-fluid button .navbar-toggler {
    box-shadow: none;
}

.aside {
    display: none;
}

.text .card {
    padding: 20px;
}

.fa-minus {
    transform: rotate(90deg);
}

.a:checked ~ .fa-chevron-down {
    transform: rotate(-90deg);
    translate: rotate 1s ease;
}

/* .fa-chevron-down {
    transform: rotate(0deg);
} */

/* .fa-chevron-down {
    transform: rotate(-180deg);
    transform:transform .5s;

} */
.fa-ticket {
    -webkit-text-stroke: 1px #138184;
    color: transparent;
}

/* .booking-coupon {
    border: 1px solid #138184;
    background: transparent;
    color: #138184;
} */

.booking-coupon:hover {
    background-color: #f4f4f4;
    border: 1px solid #138184;
}

.booking-coupon {
    border: 1px solid #138184;
    color: #138184;
    background-color: #fff;
}

.fa-circle-info {
    -webkit-text-stroke: 1px #999;
    color: transparent;
}

input[type=radio] {
    margin: 0 4px;
}

.tip {
    color: #999;
}

.accordion-button:not(.collapsed)::after .page-head {
    margin-bottom: 40px;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

.accordion-button::after {
    background-image: none;
}

.checkbox-title {
    display: inline-block;
    min-width: 138px;
}

.form-check-label {
    min-width: 108px;
}

.con__product-info {
    background-color: #f7f7f7;
    font-size: 0.6rem;
    border-radius: 6px;
}

.pay-kind-img {
    width: 40px;
    height: 26px;
    border: 1px solid #eee;
    margin-right: 5px;
    border-radius: 2px;
}

.con__coupon .btn {
    border: 1px px solid #138184;
    color: #138184;
    background-color: #fff;
    margin: 20px 20px 0 0;
}

.payment-critical-info__fee-remind {
    line-height: initial;
}

.cart-group {
    border-bottom: 2px dashed #eee;
}

.ic-jko,
.ic-pi-wallet {
    max-height: 25px;
}

h4.page-head {
    font-size: 1.25rem;
    font-weight: bolder;
    color: #212529;
    display: contents;
}

.page-head .nav-item {
    margin-right: 20px;
}

    .page-head .nav-item a {
        text-decoration: none;
        /* color: #138184; */
        color: #000;
        font-weight: bolder;
    }

.product_detail_text {
    font-size: 1.6rem;
    line-height: 1.3em;
    text-decoration: none;
}

    .product_detail_text:hover {
        text-decoration: underline;
        color: #26bec9;
    }

.product-img {
    width: 80px;
    border-radius: 4px;
    /* padding-bottom: 104.7px; */
}

.product-option,
.critical-info,
.Program_info {
    color: #666;
}

.Passenger-btn {
    background-color: #f4f4f4;
    /* border: transparent; */
}

.Passenger,
.board {
    border-top: 1px solid #f4f4f4;
    -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    box-shadow: 0 2px 4pxrgba(0, 0, 0, .15);
}

.Passenger-clean {
    color: #138184;
}

.Add-travelers {
    color: #138184;
    background: #fff;
    border: 1px solid #e1e1e1;
}

    .Add-travelers:hover {
        color: #333;
        background-color: #e6e6e6;
        color: #138184;
    }

.Passenger-clean:hover {
    color: #138184;
}

.dropdown-toggle::after {
    content: none;
}

li.active > a {
    background: transparent;
    color: #26bec9;
    font-weight: 700;
}

.name-logo {
    -webkit-box-shadow: 0 0 0 3px rgb(19 129 132 / 30%);
    box-shadow: 0 0 0 3pxrgba(19, 129, 132, .3);
    line-height: 1;
    font-weight: 400;
    color: #000;
    border: 0;
    border-radius: 50%;
}

.checkout .caculate {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

    .checkout .caculate .total {
        padding: 0;
        /* margin-left: 40px; */
        text-align: end;
    }

.fa-minus {
    transform-origin:;
}

/* .caculate {
    margin: 0 -15px;
} */

.TWD {
    color: #26bec9;
}

.caculate .total span + span {
    color: #26bec9;
    display: block;
}

.caculate a {
    background-color: #26bec9;
    color: white;
    text-decoration: none;
    display: inline-block;
    /* width: 80px;
    height: 40px;
    padding: 14px 13px; */
    border-radius: 5px;
}

    .caculate a:hover {
        box-shadow: inset 160px 160px rgba(1, 1, 1, .2);
        transition: 1.2s;
    }

/* 使用折扣券 */
.page-head h2 {
    font-weight: bolder;
    margin-bottom: 20px;
}

.page-head .nav-item {
    padding: 15px;
}

    .page-head .nav-item a {
        text-decoration: none;
        color: #000;
        font-weight: bolder;
        font-size: 0.875rem;
    }

        .page-head .nav-item a:hover {
            color: #138184;
        }

.page-head .input-group {
    height: 40px;
}

.coupon-text h4 {
    color: #aaa;
    margin: 15px 0 0;
}

.coupon {
    text-align: center;
}

.modal-footer {
    background-color: #f4f4f4;
}

    .modal-footer .btn-default {
        border: 1px solid #e1e1e1;
    }

        .modal-footer .btn-default:focus,
        .modal-footer .btn-default:hover {
            background-color: transparent;
            color: #333;
        }

.btn-primary {
    color: #fff;
    background-color: #26bec9;
    border: none;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #22a7aa;
        border-color: #22a7aa;
    }

.btn-white:hover {
    color: #000;
}

@media screen and (min-width: 768px) {
    .caculate .total span + span {
        display: inline-block;
        padding: 0 5px;
    }

    .caculate a {
        width: 85px;
        height: 40px;
        padding: 14px;
    }
}

@media screen and (min-width: 992px) {
    .caculate a {
        width: 95px;
        height: 45px;
        padding: 15px;
    }

    .page-menu .active,
    .page-menu .active a {
        color: #26bec9;
    }

    .page-menu .active {
        border-left: #26bec9 solid 4px;
    }

        .page-menu .active .list-item-text {
            margin-left: -4px;
        }
}

@media screen and (min-width:768px) {
}

@media screen and (min-width:992px) {
    .aside {
        display: block;
    }

    .editor-logo img {
        width: 120px;
        height: 120px;
    }

    .editor-logo {
        margin: auto;
        position: relative;
    }

    .fa-camera {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    body {
        background-color: #f5f5f5;
    }

    .page-aside {
        background-color: #f5f5f5;
    }

    .aside-box-text {
        padding-top: 10px;
        text-align: center;
    }

    .google-icon {
        padding-right: 15px;
    }

    .account {
        align-items: center;
    }

        .account img {
            margin-right: 10px;
        }

    .page-menu {
        list-style: none;
        padding-left: 0;
    }

        .page-menu .active,
        .page-menu .active a {
            color: #26bec9;
        }

        .page-menu .active {
            border-left: #26bec9 solid 4px;
        }

            .page-menu .active .list-item-text {
                margin-left: -4px;
            }

    .list-item-text .text-warning {
        font-weight: bolder;
        margin-right: 6px;
    }
}
