/* banner影片 */
.raiders-banner-video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.raiders-banner-video{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 40%;
}
h2{
    font-size: 1.7rem;
}
.raiders-text-title h2{
    margin-top: 40px;
    margin-bottom: 50px;
}
.raiders-text-info p:first-child{
    font-size: 1.5rem;

}
.raiders-text-info p{
    font-size: 1.25rem;
}

.raiders-text{
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.raiders-product-link a{
    color: #26BEC9;
    font-size: 1.2rem;
}
.card-body{
    padding: 8px;
}
.card-tag .tag{
    color: #36a1fa;
    background-color:  rgba(100,179,244,.1);
    font-size: 0.75rem;
    font-weight: bolder;
    
}
.card i{
    color: #26bec9;
}
.card-body p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
}
.card-product-price{
    font-size: 1.3rem;
    font-weight: bolder;
}
@media screen and (min-width:360px) {
    html{
        font-size:80%;
    }
}
@media screen and (min-width:769px) {
    html{
        font-size:87.5%;
    }
    
}

@media screen and (min-width:992px) {
    html{
        font-size: 100%;
    }
}
@media screen and (min-width:1200px) {
    
}
