/* 共同 */
body{
    padding-top: 61px;
}
.fixed-width{
    max-width: 1200px;
}
.nav-limit{
    background-color: #ffffff;
}

/* 導覽列 */
header{
    z-index: 50;
}
.nav-limit .container-fluid, .fixed-width{
    box-sizing: border-box;
}
.nav-limit h1 {
    width: 20%;
    max-width: 80px;
}
.nav-limit{
    top: 0;
    left: 0;
}
.nav-limit .navbar-nav a:hover, .category-limit a:hover, header .search-keywords a:hover {
    color: #26bec9 !important;
}
.nav-limit .search-box a{
    cursor: pointer;
}
.nav-limit .search-box a:hover {
    color: #26bec9 !important;
}
/* 多加 */
.w-40 {
    width: 40%;
}
.w-110 {
    width: 110%;
}
.user-info {
    box-sizing: border-box;
    width: 200px;
}
.user-info .fa-heart{
    -webkit-text-stroke: black;
}

header li img, .big-headimg img {
    aspect-ratio: 5/5;
    max-width: 30px;
    cursor: pointer;
}

header ul li, header .search-keywords a {
    cursor: pointer;
}

header li .user-info::after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-right: 10px transparent solid;
    border-bottom: 10px black solid;
    border-left: 10px transparent solid;
    top: -10px;
    right: 25px;
}

.seacrch-keywords{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-rule: 1px solid #eee;
    column-rule: 1px solid #eee;
}
/*.search-box li a{
    padding: 6px 8px;
}*/

/* footer */
.footer-limit {
    background-color: #aaa;
}
.app a{
    width: 25px;
    height: 25px;
    background-color: rgb(53, 50, 50);
}
.app i{
    line-height: 25px;
}
.footer-limit .footer-list a:hover{
    color: #ffaf1e!important;
}
.footer-limit .app a:hover{
    background-color: #51BAF8;
}
.scroll-to-top {
    position: fixed;
    bottom: 45px;
    right: 35px;
    background-color: rgb(0, 0, 0, .4);
    width: 40px;
    height: 40px;
    text-align: center;
    opacity: .8;
    border-radius: 2px;
    z-index: 10;
    display: none;
}
.scroll-to-top:hover {
    background-color: #26bec9;
    transition: 1s;
}
footer .fa-angle-up {
    margin-top: 13px;
    color: white;
}

/*swiper*/
.swiper {
    width: 100%;
    position: unset;
}
.swiper-slide {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide [class*=card] {
    display: block;
    width: 100%;
}
.swiper-button-next{
    right: 0px;
    left: auto;
}
.swiper-button-prev{
    left: 0px;
    right: auto;
}
.swiper [class*=swiper-button] {
    width: var(--swiper-navigation-size);
    background-color: #aaa;
    color: white;
    border-radius: 50%;
    top: 60%;
    opacity: 50%;
}
.swiper [class*=swiper-button]:after {
    font-size: unset;
}

@media screen and (max-width: 768px) {
    .footer-limit .title-icon{
        cursor: pointer;
    }
}
@media screen and (min-width: 768px){
    .scroll-to-top {
        display: block;
        bottom: 60px;
        right: 60px;
        display: none;
    }
}

@media screen and (max-width: 992px) {
    header .navbar-toggler{
        width: 40px;
        height: 40px;
        background-color: black;
        position: relative;
    }
    header .navbar-toggler span{
        background-color: white;
        display: block;
        width: 33px;
        height: 3px;

        position: absolute;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transition: all 1s 0s ease;
    }
    header .navbar-toggler span:first-child{
        transform: translate(0, -8px);
    }
    header .navbar-toggler span:last-child{
        transform: translate(0, 8px);
    }
}

@media screen and (min-width: 1024px) {
    .seacrch-keywords {
        -webkit-column-count: 3;
        column-count: 3;
    }
    .swiper-button-next {
        right: -5px;
        left: auto;
    }
    .swiper-button-prev {
        left: -5px;
        right: auto;
    }
}

@media screen and (min-width: 1440px) {
    .swiper-button-next {
        right: -13px;
        left: auto;
    }

    .swiper-button-prev {
        left: -13px;
        right: auto;
    }
}