.container {
    width: 100%;
    max-width: 1200px;
}
.aside{
    display: none;
}
.text .card{
    padding: 20px;
}
.page-head{
    margin-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
}
.page-head h2{
    font-weight: bolder;
    margin-bottom: 20px;

}
.page-head .nav-item{
    padding: 15px;
}
.page-head .nav-item:hover{
    border-bottom: 3px solid #138184;
}
.page-head .nav-item a{
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}
.page-head .nav-item a:hover{
    color: #138184;
}
.page-head .input-group{
    height: 40px;
}
.collection-text h4{
    margin: 15px 0 0;
    color: #aaa;
}
.collection{
    text-align: center;
}
.page-text{
    padding: 20px;
}
.container{
    padding-top: 78px;
}
.container .bigrow{
    padding-bottom: 20px;
}


/* 無訂單 */
/*.page-text{
    display: none;
}*/
/* 有訂單 */
/* .page-text-dynamic{
    display: none;
} */
body {
    font-family: 'Noto Sans TC', '微软雅黑', sans-serif;
    background-color: #f5f5f5;
    font-weight: 500;
    scroll-behavior: smooth;
}
.card_detail_head{
    justify-content: space-between;
    align-items: center;
}
.card_detail_head button{
    background-color: #f4f4f4;
}
.card_detail:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.card_detail {
    position: relative;
    opacity: 1.0;
    filter: alpha(opacity=100);
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}
.card-point {
    color: #333;
}
.label-addational {
    background-color: rgba(100, 179, 244, .1);
    color: #64b3f4;
    margin: 0 6px 6px 0;
    font-size: 0.75rem;
    padding: 3px 8px;
    font-weight: 700;
}
.card-text-info {
    font-size: 0.875rem;
    max-height: 52px;
}
.fa-location-dot {
    color: #cccccc;
}
p .card-text {
    font-size: 0.75rem;
}
.fa-star,
.fa-star-half {
    color: #26bec9
}
.number,
.subscription,
.TWD-line {
    font-size: 0.9375rem;
    color: #999;
}
.fa-fire {
    color: #ffc612;
}
.discount {
    background: linear-gradient(45deg, #ffaf1e, #ffd56e);
    color: #fff;
    text-shadow: 0 1px 2px #e18d0e;
    border-radius: 4px 4px 0 4px;
}
.fa-solid.fa-heart {
    color: #ff0000;
}
.main-block .fa-regular.fa-heart {
    color: #fff;
    -webkit-text-stroke: 1px #ccc;
}
.main-block .fa-regular.fa-heart:hover {
    color: #f00;
}
.text{
    margin-bottom: 50px;
}
.nocoupon{
    align-items: flex-end;
}
.card_detail .fa-heart{
    top: 7%;
    right: 13%;
}

@media screen and (min-width: 375px){
    .card_detail .fa-heart {
        top: 7%;
        right: 10%;
    }
}


@media screen and (min-width: 768px) {
    .container .bigrow{
        padding-bottom: 250px;
    }
    .card_detail .fa-heart {
        top: 15%;
        right: 5%;
    }
}

@media screen and (min-width:992px) {
    .aside{
        display: block;
    }
    .editor-logo img{
        width: 120px;
        height: 120px; 
    }
    .editor-logo{
        margin: auto;
        position: relative;
    }
    .editor-logo i{
        font-size: 25px;
        padding: 3px;
    }
    .icon-bg{
        background-color: #fff;
        position: absolute;
        right: 0px;
        top: 85px;
    }
    .aside-box .name{
        font-weight: bolder;
    }
    .aside-box .level{
        font-weight: bolder;
        font-size: 0.875rem;
        color: #666666;
    }
    .aside-box{
        padding: 15px;
        margin-bottom: 15px;
    }
    body{
        background-color: #f5f5f5;
    }
    .page-aside{
        background-color: #f5f5f5;
    }
    .aside-box-text{
        padding-top: 10px;
        text-align: center;
    }
    .google-icon{
        padding-right: 15px;
    }
    .account{
        align-items: center;
    }
    .account img{
        margin-right: 10px;
    }
    .page-menu{
        list-style: none;
        padding-left: 0;
    }
    .list-item{
        padding: 10px 15px;
    }
    .list-item i {
        margin-right: 10px;
    }
    .list-item a{
        text-decoration: none;
        color: #333333;
        font-size: 0.875rem;
    }
    .page-menu .list-item.active,
    .page-menu .list-item.active a{
        color: #26bec9;
    }
    .page-menu .list-item.active{
        border-left: #26bec9 solid 3px;
    }
    .page-menu .list-item:hover a {
        color: #138184;
    }
    .page-menu .list-item:hover {
        border-left: #138184 solid 3px;
        color: #138184;
    }
    .page-menu .active .list-item-text{
        margin-left: -4px;
    }
    .icofont-check-circled{
        font-size: 20px;
    }
    .list-item-text .text-warning{
        font-weight: bolder;
        margin-right: 6px;
    }
    .container .bigrow{
        padding-bottom: 20px;
    }   
}

@media screen and (min-width:1200px) {

}