h2{
    font-size: 2.5rem;
    font-weight: bold;
}
h3{
    font-size: 1.5rem;
    font-weight: bold;
}
h4{
    font-size: 1rem;
    font-weight: bold;
}
h5{
    font-size: 0.8rem;
    font-weight: bold;
}
p, [placeholder], ul{
    font-size: 0.75rem;
}

@media screen and (max-width: 360px) {
    html{
        font-size:  80%;
    }
}

@media screen and (min-width: 720px) {
    html{
        font-size: 87.5%;
    }
}

@media screen and (min-width: 980px) {
    html{
        font-size: 100%;
    }
}