@model Today.Web.ViewModels.MemberVM.MemberInfo
@{
    ViewData["MemberPage"] = "MyCollect";
}
@section topCSS{
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/myCollect.css">
}

<div class="container">
    <div class="row bigrow">
        <partial name="MemberPartial/_MemberLeftPartial" for="MemberName"></partial>

        <div class="col-12 col-lg-9 text">
            <div class="card collection-card main-block" id="container">
                <div class="page-head">
                    <h2>我的收藏</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<template id="no-collection">
    <div class="page-text">
        <div class="collection-group">
            <div class="collection">
                <div class="collection-text">
                    <img src="https://cdn.kkday.com/pc-web/assets/img/empty_state/wish_list.svg"
                        width="140" height="140">
                    <h4>您目前沒有收藏清單！</h4>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="has-collection">
    <div class="page-text-dynamic">
        <div class="card_detail_head d-flex">
            <div class="quantity">
                <strong class="text-info">2</strong>
                個行程在您的收藏
            </div>
        </div>
    </div>
</template>

<template id="collection-card">
    <div class="card_detail shadow bg-body rounded position-relative">
        <a href="#">
            <div class="row g-0">
                <div class="col-md-4 ">
                    <div class="pic h-100">
                        <img class="img-fluid w-100 h-100 m-auto"
                            src="https://image.kkday.com/v2/image/get/h_650%2Cc_fit/s1.kkday.com/product_101517/20220113021116_z1ha0/jpg">
                    </div>
                </div>
                <div class="col-md-8 rounded-3 ">
                    <div class="card-body">
                        <h2 class="card-title">桃園青埔 | Xpark 都會型水生公園門票</h2>
                        <div class="card-point py-2 ">
                        </div>
                        <div class="prodduct-listview_inco_info d-flex flex-wrap my-2 me-2 align-item-center">
                            <i class="fa-solid fa-location-dot"></i>
                            <div class="prodduct-listview_inco_info flex_item product-palce">
                                <p class="card-text d-flex ms-2 text-black-50">
                                    <small>桃園</small>
                                </p>
                            </div>
                        </div>
                        <div class="footer d-flex flex-wrap">
                            <div class="product_footer m-auto col-8 mt-3">
                                <i class="fa-solid fa-star "></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>

                                <span class="number comment-number">(366691)</span>
                                <i class="fa-solid fa-fire py-2">
                                    <span class="subscription ordered">484K+ 個已訂購</span>
                                </i>
                            </div>
                            <div class="doller d-flex flex-wrap flex-direction-column col-4 align-content-end">
                                <p class="TWD-line text-decoration-line-through p-1 text-end w-100">TWD 850</p>
                                <h4 class="TWD p-1 text-end w-100">TWD 550</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <i class="fa-solid fa-heart btn-wish position-absolute"></i>
    </div>
</template>

<template id="product-tag">
    <span class="label label-addational rounded-3 m-1">即買即用</span>
</template>

@section endJS{
    <script>
        let collectionlist = @Html.Raw(ViewData["Collection"])
    </script>
    <script src="~/js/MyCollect.js"></script>
    <script src="~/js/memberleftselect.js"></script>
}