@section topCSS{
    <style>
        .each-comment {
            display: none;
        }

        .each-comment.show {
            display: block;
        }
    </style>
}
    <div class="container">
        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">留言管理</h1>
        <div id="app">
            <b-card v-for="(card,i) in Detail" class="mb-3 comment">
                <b-media class="flex-wrap">
                    <template v-slot:aside>
                        <b-img width="64" alt="placeholder" v-bind:src=card.Path[0].Path class="path"></b-img>
                    </template>
                    <h4 class="mt-0 fw-bold text-primary" v-on:click="collapse">{{card.ProductName}}</h4>
                    <p class="mb-0">{{card.Title[0].Title}}</p>
                    <div class="each-comment">
                        <div v-for="(comment , j ) in card.Comments" class="mt-3">
                            <div class="border border-5 p-3">
                                <div class="d-flex justify-content-between">
                                    <b-media class="mb-4">
                                        <template v-slot:aside>
                                            <b-img blank blank-color="#ccc" width="64" rounded="circle" alt="Circle image"></b-img>
                                        </template>
                                        <h4 class="mt-0 text-primary">{{card.MemberName[j].MemberName}}</h4>
                                        <span class="mr-2">{{comment.RatingStar}}顆星</span><span class="mr-2">{{comment.CommentDate.slice(0,10)}}</span><span class="comment-id">{{comment.CommentId}}</span>
                                    </b-media>
                                    <b-button squared variant="outline-danger" style="height: 60px;" class="delete" 
                                        v-on:click="(e)=>{deleteComment(e,card, comment ,j)}">刪除</b-button>
                                </div>
                                <div class="bg-success bg-opacity-25 p-3">
                                    <h5 class="fw-bold">{{comment.CommentTitle}}</h5>
                                    <div v-html="comment.CommentText"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </b-media>
            </b-card>
        </div>
    </div>

@section endJS{
    <script src="~/js/commentmanage.js"></script>
}